.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* Blog Button */
.button.button-blog {
  color: #ffffff;
  background-color: #ff5500;
}
.button.button-blog:hover,
.button.button-blog:focus {
  filter: brightness(90%);
}

/* Blog Button */
.button-back {
  color: #ffffff;
  background-color: #ff5500;
  display: inline-block;
  text-decoration: none;
  height: 48px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 200px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.1px;
  white-space: wrap;
  border-radius: 8px;
  cursor: pointer;
}
button-back:hover,
.button-back:hover {
  color:blue;
  border-color: #888;
  outline: 0; }


.button-blog:hover,
.button-blog:focus {
  filter: brightness(90%);
}